@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 399px) {
    .swiper {
        width: 99vw;
        transform: scale(0.8);
    }
}

@media (min-width: 400px) {
    .swiper {
        width: 85vw;
    }
}

@media (min-width: 768px) {
    .swiper {
        width: 50vw;
    }
}

@media (min-width: 1024px) {
    .swiper {
        width: 70vw;
    }
}

@media (min-width: 1280px) {
    .swiper {
        width: 55vw;
    }
}

.swiper-wrapper .swiper-slide-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@layer base {
    html {
        font-family: "Poppins", system-ui, sans-serif;
    }
}
/* Remove the spinner in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the spinner in Firefox */
input[type="number"] {
    appearance: textfield;
}

.input-error,
.input-error:focus,
.input-error::placeholder {
    border-color: red;
    color: red;
    outline: none; /* Remove default focus outline */
  }

  .placeholder-blue::placeholder {
    color: #549EFF;
  }

